@font-face {
  font-display: swap;
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/font/roboto-mono-v23-latin_vietnamese-regular.eot");
  src: url("/font/roboto-mono-v23-latin_vietnamese-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/font/roboto-mono-v23-latin_vietnamese-regular.woff2") format("woff2"),
    url("/font/roboto-mono-v23-latin_vietnamese-regular.woff") format("woff"),
    url("/font/roboto-mono-v23-latin_vietnamese-regular.ttf") format("truetype"),
    url("/font/roboto-mono-v23-latin_vietnamese-regular.svg#RobotoMono")
      format("svg");
}

:root {
  --font-family: "Roboto Mono", Consolas, Menlo, Monaco, "Andale Mono WT",
    "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
    "Nimbus Mono L", "Courier New", Courier, monospace;
  --primary-text-color: #444;
}

/* Global */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--primary-text-color);
}
h1,
h2,
h3 {
  line-height: 1.2;
}
ul {
  list-style-type: square;
}

/* Layout */
.main-wrapper {
  display: grid;
  grid-template-rows: max-content;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 55em;
}

/* Reponsive */
@media (min-width: 768px) {
  .main-wrapper {
    margin: 40px auto;
    width: 45em;
    grid-template-columns: 250px 1fr;
    gap: 1rem;
  }
  .main-wrapper aside {
    order: 1;
  }
  .main-wrapper main {
    order: 2;
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    width: 50em;
  }
}

/* Header */
header {
  border-bottom: 1px dashed var(--primary-text-color);
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  max-width: 55em;
}
a.nav-link {
  text-decoration: none;
  color: blue;
}
a.nav-link:hover {
  text-decoration: underline;
}
a.site-title {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: bold;
}
a.site-title:hover {
  text-decoration: underline;
}

/* Sidebar */
aside ul {
  padding-left: 1rem;
}

/* Footer */
footer {
  text-align: center;
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: #aaa;
}
h2 + .header-anchor {
  font-size: 1.5em;
}

/* Code */
pre {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--primary-text-color);
  color: #fff;
}
