<ul reversed>
    {% for post in postslist | reverse %}
        <li>
            <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("yyyy dd/LL") }}</time>
            <a href="{{ post.url }}">
                {% if post.data.title %}
                    <b>{{ post.data.title }}</b>
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>