<header>
    <div class="wrapper">
        <a class="site-title" href="/">{{ metadata.title }}</a>
        <nav>
            <a class="nav-link" href="{{ metadata.mainSite }}">Tổng-hợp</a>
        </nav>
    </div>
</header>